<%= form_with(model: space) do |form| %>
  <% if space.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
        <% space.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>Space Category:
    <%= collection_select(:space, :spacecategory_id, Spacecategory.all, :id, :category_name, prompt: "Select Category")  %>
    </p>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_area :location %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :space_size, style: "display: block" %>
    <%= form.text_field :space_size %>
  </div>

  <div>
    <%= form.label :weekly_rate, style: "display: block" %>
    <%= form.text_field :weekly_rate %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :space_policies, style: "display: block" %>
    <%= form.text_area :space_policies %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :pictures %>
    <%= form.file_field :pictures, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
