<div id="<%= dom_id space %>">


<h2>
    <%= space.title %>
</h2>

  <p>
    <strong>Space Category:</strong>
    <%= space.spacecategory.category_name %>
  </p>

  <p>
    <strong>Contact Host:</strong>
    <%= space.user.user_fullname %>: <%= space.user.phone_number %>
  </p>



  <p>
    <strong>Location:</strong>
    <%= space.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= space.description %>
  </p>

  <p>
    <strong>Space size:</strong>
    <%= space.space_size %>
  </p>

  <p>
    <strong>Weekly rate:</strong>
    <%= space.weekly_rate %>
  </p>


  <p>
    <strong>Space policies:</strong>
    <%= space.space_policies %>
  </p>

<% if space.image.content_type.in?(%w[image/jpg image/png image/jpeg]) %>
    
    <p>
      <%# show the full image on click%>
      <%= link_to image_tag(space.image_as_hero), space.image if space.image.attached?%>
    </p>
<% else %>
      <p>No available image for this space.</p>
<% end %>
  <p>
    <% space.pictures_as_thumb.each do |pic| %>
      <%# show the full image on click %>
      <%= link_to image_tag(pic), pic %>
    <% end %>
  </p>

</div>
