<div id="<%= dom_id space %>">
  <p>
    <strong>Owner:</strong>
    <%= space.user.user_fullname %>
  </p>

  <p>
    <strong>Space Category:</strong>
    <%= space.spacecategory.category_name %>
  </p>


  <p>
    <strong>Title:</strong>
    <%= space.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= space.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= space.description %>
  </p>

  <p>
    <strong>Space size:</strong>
    <%= space.space_size %>
  </p>

  <p>
    <strong>Weekly rate:</strong>
    <%= space.weekly_rate %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= space.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= space.latitude %>
  </p>

  <p>
    <strong>Space policies:</strong>
    <%= space.space_policies %>
  </p>

  <p>
    <%# show the full image on click%>
    <%= link_to image_tag(space.image), space.image %>
  </p>
  <hr />
  <p>
    <% space.pictures.each do |pic| %>
      <%# show the full image on click %>
      <%= link_to image_tag(pic), pic %>
    <% end %>
  </p>

</div>
