<p style="color: green"><%= notice %></p>

<%= render @space %>

<% nr = Rent.new(:space_id => @space.id) %>
<%= render "rents/rent_new", new_seat: nr %>

<div>
  <%= link_to "Edit this space", edit_space_path(@space) %> |
  <%= link_to "Back to spaces", spaces_path %>

  <%= button_to "Destroy this space", @space, method: :delete %>
</div>
