<%= form_with(model: rent) do |form| %>
  <% if rent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
        <% rent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    
    <%= form.hidden_field :space_id %>
  </div>

  <div>
    <%= form.label "Duration of Stay", style: "display: block" %>
    <%= form.text_field :duration %>
  </div>

  <div>
    <%= form.submit "Rent this space" %>
  </div>
<% end %>
