<h1>Home</h1>

<% if current_user %>
    <p>Hello <%= current_user.role%>, <%= current_user.email%> </p>
    <%= link_to "Publish your space", new_space_path %> <p></p>
    <%= link_to "Show all spaces", spaces_path %> <p></p>
    <p>---------------------------------------------------</p>
    <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete%> <p></p>
<% else %>
    <p> Login to Warespace </p>
    <%= link_to "Sign Up", new_user_registration_path%> <p></p>
    <%= link_to "Login", new_user_session_path%>
<% end %> -->
