<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
    <p>Hello <%= current_user.role%>, <%= current_user.email%> </p>
    
    <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete%> <p></p>
<% else %>
    <p> Login to Warespace </p>
    <%= link_to "Sign Up", new_user_registration_path%> <p></p>
    <%= link_to "Login", new_user_session_path%>
<% end %>